{% extends "@App/main.html.twig" %}

{% block title %}Каталог кафе{% endblock %}

{% block content %}
    <div class="row">

        {% for place in places %}
            <div class="col-6">

                <div class="place">

                    <div class="img_wrapper">
                        <img class="place_image"
                             src="{{ vich_uploader_asset(place, 'imageFile', 'AppBundle\\Entity\\Place') }}">
                    </div>

                    <div class="title">
                        <a href="{{ path('place_info', {'id': place.id}) }}">{{ place.name }}</a>
                    </div>

                    <div class="description">
                        {{ place.description }}
                        <br><b>Популярные блюда:</b>
                    </div>
                    <div class="popular">
                        {% for popularDish in  dishes_by_places[place.name] %}
                            <div class="popular_row">
                                <img class="dish_image"
                                     src="{{ vich_uploader_asset(popularDish.dish, 'imageFile', 'AppBundle\\Entity\\Dish') }}">
                                <b>{{ popularDish.dish.name }}</b> (заказали {{ popularDish.amount }} раз)
                            </div>
                        {% endfor %}
                    </div>
                </div>


            </div>
        {% endfor %}

    </div>




{% endblock %}
