{% extends "@App/main.html.twig" %}

{% block title %}{{ place.name }}{% endblock %}

{% block content %}
    <h3>{{ place.name }}</h3>
    <p>{{ place.description }}</p>
    <div class="row pt-1 pb-1 dish_row">
        {% for dish in place.dishes %}
            <div class="col-4">
                <div class="menu_row">
                    <div class="menu_name">{{ dish.name }}</div>
                    <div class="menu_img_wrapper">
                        <img class="menu_image"
                             src="{{ vich_uploader_asset(dish, 'imageFile', 'AppBundle\\Entity\\Dish') }}">

                        <div class="menu_price">{{ dish.price }} сом</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pt-3">
        <a href="{{ path('homepage') }}"><i class="fas fa-arrow-left"></i> вернуться назад</a>
    </div>

{% endblock %}
