body {
    background: #ffffff;
}

.title {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
}

.place {
    width: 480px;
    border: 1px solid #efefef;
    margin: 15px;
}

.img_wrapper {
    text-align: center;
}

.place_image {
    width: auto;
    height: 310px;
}

.dish_image {
    width: auto;
    height: 50px;
}

.description {
    margin: 0 20px 20px 20px;
    font-size: 14px;
}

.popular {
    margin: 0 30px 20px 30px;
    font-size: 14px;
}

.popular_row {
    margin-bottom: 5px;
}

.menu_row {
    width: 340px;
    border: 1px solid #efefef;
    margin: 15px;
}

.menu_name {
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.menu_img_wrapper {
    text-align: center;
}

.menu_price {
    text-align: center;
    margin: 10px;
    font-weight: bold;
}
